.input_option{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;

}
.input_option:hover{
    background-color: rgba(146, 139, 139, 0.308);
    border-radius: 7px;
    cursor: pointer;
}
.input_option>h4{
    margin: 0px 5px 0px 5px;
    color: rgb(136, 133, 133);
    font-family: sans-serif;
}