
.header{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 40px;
    /* max-height: 60px; */
    position: sticky;
    flex-grow: 1;
    top: 0;
    z-index: 9;
}
.header_left{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}
.header_left>img{
    object-fit: contain;
    height: 35px;
    margin-right: 10px;

}
.header_search{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.header_search>form>input{
    outline: none;
    border:none;
    background: none;
    font-size: large;
    /* font-weight: bold; */
    color: rgb(80, 78, 78);
}
.header_right{
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}
